# VM
VM_DB_HOST=carsonchin        # or 127.0.0.1 via SSH tunnel
VM_DB_PORT=3306
VM_DB_USER=class_user
VM_DB_PASS=change_me
VM_DB_NAME=carsonchin-deletelater-hha504

# Managed
MAN_DB_HOST=34.10.117.157
MAN_DB_PORT=3306
MAN_DB_USER=carsonchin67
MAN_DB_PASS=4.5c{#5\R.E_.uKN
MAN_DB_NAME=carsonchin-deletelater-hha504